<div class="row">
    <div class="col-md-12"><br>
        <div class="panel">
            <div class="panel-body">
                <div class="timeline-2">
                    {% for entry in history %}
                        <div class="time-item">
                            <div class="item-info">
                                <div class="text-muted">{{ entry.createdAt }}</div>
                                <p><strong><a href="#" class="text-info">{{ entry.subject }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
