<form action="/interactify/saveinteraction" class="form-horizontal">
    <div class="col-md-6">
        <div class="form-group">
            <label for="uphn">Primary</label>
            <input type="text" value="{{ primary_phone }}" class="form-control"></div>
        </div> 
    </div>
</form>

